<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.occurrence.annotation.mapper.ProjectMapper">
    <resultMap id="PROJECT_MAP" type="Project" autoMapping="true">
        <result property="members" column="members" typeHandler="org.apache.ibatis.type.ArrayTypeHandler"/>
    </resultMap>

    <select id="list" resultMap="org.gbif.occurrence.annotation.mapper.ProjectMapper.PROJECT_MAP">
        SELECT * FROM project
        WHERE deleted IS NULL ORDER BY created DESC
    </select>

    <select id="get" parameterType="int" resultMap="org.gbif.occurrence.annotation.mapper.ProjectMapper.PROJECT_MAP">
        SELECT * FROM project WHERE id = #{id}
    </select>

    <insert id="create" parameterType="Project" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO project (name, description, members, created_by, created)
        VALUES (#{name}, #{description}, #{members,typeHandler=org.apache.ibatis.type.ArrayTypeHandler}, #{createdBy}, now())
    </insert>

    <update id="update" parameterType="Project">
        UPDATE project SET name=#{name}, description=#{description}, members=#{members,typeHandler=org.apache.ibatis.type.ArrayTypeHandler}, modified=now()
        WHERE id = #{id} AND DELETED IS NULL
    </update>

    <update id="delete" parameterType="map">
        UPDATE project SET deleted = now(), deleted_by = #{username} WHERE id = #{id} AND DELETED IS NULL
    </update>
</mapper>